<div class="row pt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-10 col-xl-10">
            <h5 class="card-title">HttpClient</h5>
          </div>
          <div class="col-2 col-xl-2">
            <i class="far fa-images fa-lg text-primary"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <a routerLink="/items">
          <p class="card-text">Test du module HttpClient</p>
        </a>
      </div>
    </div>
  </div>
</div>
